:root { --bg:#f3f6ff; --card:#fff; --text:#333; --header:#5560ff; --input-bg:#fff; --input-border:#ccd3e0;}
body.dark { --bg:#1e1e1e; --card:#2c2c2c; --text:#f1f1f1; --header:#3c48d0; --input-bg:#3a3a3a; --input-border:#555;}
body{font-family:Arial,sans-serif;background:var(--bg);color:var(--text);margin:0;transition:.3s;}
nav{background:var(--header);color:white;padding:12px 20px;display:flex;justify-content:space-between;align-items:center;}
nav a{color:white;margin-left:15px;text-decoration:none;}
.mode-switch{cursor:pointer;font-size:14px;}
.container{padding:20px; max-width:600px; margin:auto;}
.card{background:var(--card); padding:20px; border-radius:10px;}
input{width:95%; padding:10px;margin-bottom: 20px; margin-top:5px; border-radius:5px; border:1px solid var(--input-border); background:var(--input-bg); color:var(--text);}
button{padding:12px; margin-top:10px; background:var(--header); color:white; border:none; border-radius:5px; cursor:pointer;}
button:hover{background:#3c48d0;}
.nav-buttons{display:flex;justify-content:space-between;margin-top:15px;}